body {
    background-color: white;
}

.container {
    width: 80%;
    margin-left: 10%;
    height: 80vw;
    background-color: gold;
    /* View width: vw; View height: vh */
}

.boxes {
    width: calc(92%/3);
    height: 600px;
    background-color: brown;
    margin: 1vw;
    float: left;
}

p {
    font-size: 100px;
}

.msg {
    color: white;
}

#box1 {
    background-color: green;
}

#box2 {
    background-color: orange;
}

#box3 {
    background-color: purple;
}